extends base.pug
include mixins/video

block content  
    form(method="GET")
        input(placeholder="Search for Title", name="keyword", required)
        input(type="submit", value="Search now")

    each video in videos 
            +video(video)